.divOuter {
  height: 100vh;
  width: 100vw;
  display: flex;
}
#__next {
  margin: 0px;
  padding: 0px;
}
.App {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px !important;
  padding: 0px !important;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
}

.footer {
  background-color: rgb(37, 35, 31);
  width: 100%;
}

.nav {
  margin: 10px, auto;
}

.ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  padding: 0px 30px 0px 0px;
}
.list {
  margin: 5px;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}

.Boxblock {
  background-color: rgb(5, 0, 0);
  width: 350px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  margin: auto;
  left: 50%;
  top: 10px;
  transform: translate(-50%);
  border-radius: 10px;
}
.hideicon {
  rotate: 10px;
}

.colorcopybutton {
  display: flex;
  flex-direction: row;
}
.colorbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  margin-top: 5px;
  padding: 8px 0px;
}
.colorvalebutton {
  width: 80px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  border-color: transparent;
}
.colorvaleboxtext {
  font-size: 10px;
  text-align: center;
  display: block;
  margin: auto;
  padding: auto;
}
.copyall {
  width: 150px;
  border-color: #7e0ff5;
  border-width: 1px;
  margin: 5px 5px;
  display: flex;
  justify-content: space-around;
  justify-self: flex-end;
  margin: auto;
  padding: 7px;
  height: 28px;
  margin: 22px 10px;
  padding: 5px;
  border-radius: 1.3px;
  border-width: 1.3px;
  color: black;
  font-size: 11px;
}
.divOuter {
  cursor: pointer;
}
.noColor {
  padding: 10px;
  color: #7710e6e7;
  font-size: 18px;
  font-weight: 400;
}

.cardbox {
  display: flex;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: white 1px 1px 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  justify-content: space-between;
  flex-direction: row;
  justify-items: center;
}

.button {
  width: 140px;
  border-color: #7e0ff5;
  border-width: 1px;
  margin: 5px 5px;
  display: flex;
  justify-content: space-around;
  justify-self: flex-end;
  margin: auto;
  padding: 7px;
}
